@import "../../styles/constants.module.scss";

.todoList {
  form {
    .textFieldWrapper {
      position: relative;
      .textField {
        width: 100%;
        height: 36px;
        background: #1f1f1f;
        border: 0.5px solid #383838;
        border-radius: 6px;
        outline: none;
        font-family: "SF Pro Text";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        padding: 11px;
        color: #d9d9d9;
        transition: all 0.1s ease-in-out;

        &:focus {
          border: 1px solid #4167ec;
          box-shadow: 0px 0px 6px rgba(65, 103, 236, 0.1);
          transition: all 0.1s ease-in-out;
        }

        &::placeholder {
          font-family: "SF Pro Text";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: #676767;
        }
      }

      .addButton {
        height: 28px;
        position: absolute;
        top: 4px;
        right: 4px;
        background: #4167ec;
        border-radius: 2px;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.02em;
        color: #ffffff;
        padding: 0 23px;
        outline: none;
        border: none;
        cursor: pointer;
      }
    }
  }

  .taskListWrapper {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 40px;
      background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, #111111 100%);
    }
    .taskList {
      display: flex;
      flex-direction: column;
      max-height: 260px;
      overflow-y: auto;
      gap: 12px;
      margin: 24px 0 0 0;
      list-style: none;
      padding: 0;
      scroll-behavior: smooth;

      &::-webkit-scrollbar-track {
        background: transparent;
        width: 10px;
        background: #1f1f1f;
      }

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #dedede2e;
        opacity: 0.2;
        transition: all 0.2s ease-in-out;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #dedede2f;
        opacity: 0.3;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
