$main-color: #111;
$main-text-color: #dedede;
$main-secondary-text-color: #6c6a67;

$breakpoint-extra-large: 1400px;
$breakpoint-large: 1200px;
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 760px;
$breakpoint-mobile: 480px;